.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  padding: 1rem 7%;
  position: fixed;
  background-color: white;

}
.logo{
  margin-right: 100px;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: black;
  padding: 7px 13px;
  border-radius: 0px;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}
nav ul li a.active,a:hover{
  background: burlywood;
  transition: .5s;
}

.slider{
  font-size: 18px;
  margin-top: 7%;
  margin-bottom: 1%;
  margin-left: 7%;
  background-image: url(./assets/1.jpg);
  background-color: #2c353d;
  width: 76%;
  padding: 4rem 5%;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  animation: slide 50s infinite;
  height:100vh;

}

@keyframes slide {
  12.5%{
      background-image: url(./assets/1.jpg);
  }
  25%{
      background-image: url(./assets/2.jpg);
  }
  37.5%{
      background-image: url(./assets/3.jpg);
  }
  50%{
      background-image: url(./assets/4.jpg);
  }
  62.5%{
      background-image: url(./assets/5.jpg);
  }
  75%{
      background-image: url(./assets/6.jpg);
  }
  87.5%{
      background-image: url(./assets/7.jpg);
  }
  100%{
      background-image: url(./assets/8.jpg);
  }
}

.bg-fixed {
  background-attachment: fixed;
}

